{% extends 'main/main.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Etwas bei deiner registrierung ist schief gelaufen... : (</h1>
        </div>
    </div>
{% endblock %}