{% extends 'main/main.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Ups... bei deiner Registration ist etwas schief gelaufen... : (</h1>
        </div>
    </div>
{% endblock %}