<div class="jumbotron">
    <div class="container">
        <h1>Nur noch ein kleiner Schritt...</h1>
        <p>Schaue in deine Emails und bestätige deine Registrierung!</p>
        <p><a class="btn btn-primary btn-lg"
              href="#"
              role="button">zurück zum Login</a></p>
    </div>
</div>