<div class="container">
    <input type="hidden" id="animalId" value={{animal.animal}}></input>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Spendenbereich</h1>
                <p>Erstellen Sie Spendenaufrufe!</p>
            </div>
        </div>
    </div>
spende geilf