<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="#">Pawcenter</a>
        </div>

        <div id="navbar"
             class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="dropdown"><a href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-expanded="false">Dropdown <span
                                class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-expanded="false"> <i
                                class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li><a href="#"
                               id="settingsBtn"><i
                                        class="fa fa-gears"></i> Einstellungen</a></li>
                        <li><a href="#"
                               id="logoutBtn">Logout</a></li>
                    </ul>
                <li><a href="#"><i class="fa fa-envelope"></i>
                    </a></li>
                <li><a href="#"
                       id="editAnimalsBtn"><i
                                class="fa fa-paw"></i></a></li>
                <li><a href="#"
                       id="announcementsBtn"><i
                                class="fa fa-comments"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="javascript/navBar.js"></script>
</nav>
